.home {
  max-width: 1400px;
  width: 1200px;
  height: 620px;
  margin: 0 80px;
  background-image: url("https://cdn.pixabay.com/photo/2014/12/30/22/18/blue-584447_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 620px;
  position: absolute;
}
.homeContainer {
  width: 30%;
  height: 200px;
  margin: auto;
  text-align: center;
}

.homeForm {
  max-width: 300px;
  width: 250px;
  text-align: center;
  margin: 100px auto;
  position: relative;
}
